.display {
    height:70px;
    position:relative;
    background:transparent;
    overflow:hidden;
    box-shadow:inherit;
    background:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.display > span {
    width:100px;
    text-align:center;
}

.display-restart {
    height:30px;
    width:85px;
    cursor:pointer;
    background:black;
    border-radius:3px;
    background:transparent;
    border:1px solid rgba(0, 0, 0, .1);
    transition:all .25s, border .15s;
}

.display-restart:focus {
    border:1px solid rgba(0, 0, 255, .1);
}

.display-restart:active {
    transform:scale(.95);
    border:1px solid rgba(0, 255, 0, .1);
}